*{
    border: 0;
    padding: 0;
}
header{
    margin-top: 3px;
    padding:  15px;
    border: 1px solid peru;
    text-align: center;
}
#lineal{
    background: -webkit-linear-gradient(top right, #000000, #ffffff,#00ff00 )
}

#circular{
    /* psoicion ->center, top, bottom, left, rigth, %
    forma => circle, elipse
    colores => 2 a mas */
    background: -webkit-radial-gradient(center,ellipse, black, white);
}
p{
    filter: blur(10px);
}
img{
    /* admite valores entre 0.1 y 1 px  */
    /* Escala de grises mientras mas se aproxime al 1 mas gris será la imagen */
   
    filter: grayscale(0.3);
     /* Usando para determinar el contraste de la imagen, mientras mas se aproxime a 1 sera su contraste natural  */
    filter: contrast(0.8);
    /* interviene los colores de la imagen con sus negativos, miestras mas se aproxime a 1 sus negativos serán mas intensos */
    filter: invert(0.5);
    /* En la pagina 127 en el libro, en el PDF reader 142 */
}