*{
    padding: 0;
    margin: 0;
    border: 1px solid black;
}
html,body{
    height: 100%;
    width: 100%;
   
}
.papa{
   padding: 10px;
   display: flex;
}
.cuadro1{
    height: 400px;
    width: 98%;
    background-color: pink;
    border: 1px solid purple;
    margin: 20px auto;
}
.papa2{
    width: 60%;
    
}
.cuadro2{
    height: 900px;
    width: 40%;
    background-color: pink;
    border: 1px solid purple;
}
.cuadro3{
    height: 400px;
    width: 300px;
    background-color: pink;
    border: 1px solid purple;
}
.cuadro4{
    height: 400px;
    width: 300px;
    background-color: pink;
    border: 1px solid purple;
}
.cuadro5{
    height: 400px;
    width: 60%;
    background-color: pink;
    border: 1px solid purple;
}