header{
    border: 1px solid salmon;
    width: 50%;
}
section{
    font-size: 70px;
}
div{
    border: 1px solid blue;
    width: 50%;
}
/* rem es la unidad RELATIVCVA que depende directamente del elemento raiz de la pagina, en este caso sería el tamaño de la fuente de la etiqueta <html> SE MULTIPLICA A 24 (16*1.25) TOMA EL VALOR PADRE */
section p{
    font-size: 1.5rem;
}
/* em es la unidad de medida RELATIVA que depende del ultimo font-size definido dentro del arbol de elementos en el que se encuentre SE MULTIPLICA A 32 PX ()*/
.parrafo{
    font-size: 2em;
}